<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to ASP.NET core application
        </title>
        <meta charset="utf-8"/>
    </head>
    <body>
        Welcome from Body 
    </body>
</html>